body, header{
    background-image: url("/images/fondo.png")!important;
    font-size: 18px;
}

section {
    padding: 10px;
}

p {
    font-size: 18px;
}

hr {
    border: 1px solid red;
    margin: -20px 0 10px 0;
}

h3 {
    list-style-type: square;
    color: red;
    font-size: 20px;
    padding: 40px 0 40px 0;
}

/* header {
    background-image: url("/images/fondo.png")!important;
    font-size: 18px;
} */

footer {
    background-color: sienna;
    padding: 0px;
}

.info-content {
    margin-bottom: 100px!important;
}

.img_info {
    padding-top: 40px;
}

/* .slider-int {
    margin-bottom: 50px;
} */

.mision{
    list-style-type: square;
    color: red;
    font-size: 20px;
    padding: 40px 0 40px 0;
}

.inicio {
    max-width: 800px;
    padding: 40px;
}

ul#menu li {
    display:inline;
    padding: 20px 20px 20px 20px;
}

.space {
    padding: 40px;
}

.powered {
    position:relative;
left: 200px

}



#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 360px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 480px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 35%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
} 


/* .slider {
    width: 960px;
    height: 480px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;  
  }
  .slide {
    width: 960px;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
  } */


