body, header{
    background-image: url("/images/fondo.png")!important;
    font-size: 18px;
}

section {
    padding: 10px;
}

p {
    font-size: 18px;
}

hr {
    border: 1px solid red;
    margin: -20px 0 10px 0;
}

h3 {
    list-style-type: square;
    color: #682116;
    font-size: 20px;
}

footer {
    background-color: sienna;
    padding: 0px;
}

.info-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-index {
    vertical-align: text-top;
    margin-bottom: 100px;
}

/* .slider-int {
    margin-bottom: 50px;
} */

.mision img{
  margin-top: 50px;
  margin-bottom: 50px;
  /* padding: 40px 0 40px 0; */
  border: 2px solid #682116;
  

}

.inicio {
    max-width: 800px;
    padding: 40px;
}

ul#menu li {
    display:inline;
    padding: 20px 20px 20px 20px;
}

.space {
    padding: 40px;
}

.powered {
    position:relative;
left: 200px

}

/* SLIDER */
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  margin-bottom: 50px;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 360px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 960px;
  height: 480px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 75%;
  z-index: 999;
  display: block;
  padding: 4% 1%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 48px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.map {
  display:inline-block;
  width:auto;
  height:auto;
  text-align:center;
  padding:0px 4px;
  vertical-align:middle;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background-color:lime;
}

.map-title {
  color:black;
  font-size:88%;
  font-weight:bold"
}

.leyenda {
  display:inline-block;
  width:auto;
  height:auto;
  text-align:center;
  vertical-align:middle;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:10px;

}

.leyenda-num {
  color:black;
  background-color:lime;
  font-size:85%;
  font-weight:bold;
  padding: 0 4px 4px 4px;

  margin-left: 270px;
  border-radius:5px;
}




